ANTHROPIC_API_KEY=your-anthropic-api-key

FIRESHIRE_MAPBOX_TOKEN=your-mapbox-token

# Database URL
# Local postgresql
# FIRESHIRE_DATABASE_URL=postgresql+asyncpg://fireshire:fireshire@localhost:5435/fireshire
